<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.casa.vide.appassemble.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.casa.vide.appassemble.Perspective"
            id="vita.appAssemble.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.casa.vide.appassemble.editor.AppAssembleEditor"
            contributorClass="com.casa.vide.appassemble.contributor.AppAssembleActiobBarContributor"
            default="false"
            icon="icons/sample.gif"
            id="vita.appassemble.editor.AppAssembleEditor"
            name="AppAssembleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.casa.vide.appassemble.editor.ExpSchemeEditor"
            contributorClass="com.casa.vide.appassemble.contributor.ExpSchemeActionBarContributor"
            default="false"
            icon="icons/sample.gif"
            id="vita.appassemble.editor.ExpSchemeEditor"
            name="ExpSchemeEditor">
      </editor>
   </extension>

</plugin>
